<html>

<H2 align="left">Search for Teammates</H2>

<body>

<form>
     <input type="text" ng-model="value2" placeholder="Type skill here..." required >
     <input type="button" class="btn btn-primary" value="Search" ng-click = "searchForSkills(value2)">
</form>

<h6>[NOTE: If you are entering multiple skills, enter them separated with a comma.]</h6>

<div>
     <table align="center">
          <tr ng-repeat="detail in details">
               <td>{{detail[0]}}</td>
               <td>{{detail[1]}}</td>
               <td>{{detail[2]}}</td>
               <td>Number of skills matching: {{detail[3]}}</td>
               <td><ul style="list-style-type:none"><li ng-repeat="x in detail[4]">{{x}}</li></ul></td>
          </tr>
     </table>
</div>

</body>
</html>

