<!DOCTYPE html>
<html lang="en" ng-app="TeamApp">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <nav class="navbar navbar-default ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Team Finder</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Edit Profile</a></li>
                <button ng-controller="AuthCtrl" role="button" ng-click="logout()" class="btn btn-danger"> Log Out</button>
                <li><a ng-if='auth.user' ng-click='logout()'>Logout</a></li>

            </ul>
        </div>
    </nav>
</body>
</html>